/* CSS Combinators */

/* Descendant Selector */

/* header li {
  background-color: brown;
} */

/* Child Selector */

/* footer > p {
  background-color: chartreuse;
} */

/* Adjacent Sibling */

/* h2 + p {
  background-color: orange;
} */

/* General Sibling */

/* h3 ~ p {
  background-color: cadetblue;
} */

/* Flexbox */

/* nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

/* main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */

/* .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
} */
